.List {
    border-top: 1px solid #e0e0e0;
    flex-grow: 1;
}

.empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty span {
    padding: 16px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}